<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style>

    </style>

</head>
<body>

<pre>
    关于对象字面量语法(var aa = {a:1,b:2};对象语法new Object())，我们推荐只在考虑对象属性名的可读性时使用。


</pre>


<script src="../../static/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript">

    $(function () {
        var o1 = Object.create({x:1,y:2})

        var o2 = {
            $n : 3
        };
        Object.defineProperty(o2, "x", {value:2,writable:true,enumerable: false,configurable:true});
        Object.defineProperty(o2, "x", {writable:false});//设置x属性不可写
        o2.x = 3;
        console.log(o2.x);
    })

</script>
</body>
</html>