<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>设计模式</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <style>

    </style>

    <script src="../00-static/base.js"></script>

</head>
<body>

<pre>

    <h2 class="anchor">准备</h2>
    下载jdk8 documentation
        oracle官网 → products → java → 找到对应版本的文档下载

    <h2 class="anchor"></h2>


    <h2 class="anchor">...</h2>
    进度 第5节第3部分 10:00
</pre>

</body>
</html>