<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>kafka</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <style>

    </style>

    <script src="../00-static/base.js"></script>

</head>
<body>

<pre>

    <h2 class="anchor">引入</h2>
    AKF划分
        x：可靠性
            副本 出主机的
            kafka只允许主节点 读写
            可以有读写分离，容易出现一致性问题
        y：业务-topic
        z：分区分治
            分区内有序 分区外部无序 offset
            无关的可分治
            有关的 顺序一致性问题
                equip连续报警问题：
                    创建新的主题，单一分区或一个测点一个分区

    分布式
    可靠的(高可用)、可扩展、高性能

    单点问题
    性能问题

    <h2 class="anchor">...</h2>
    zookeeper
        broker选主用
    admin-api
        通过zookeeper找到controller
        创建topic
    producer
        老版本 从zookeeper拿主地址，zookeeper会有负担
        新版本 不从zookeeper拿 通过一个连接列表找到主
        并发下 数据顺序一致性问题
    consumer
        与分区关系 同一分组 1:1 1:n
    controller-主
        确定之后会有cluster metadata(元数据) 同步到集群所有节点
    集群
        业务层次上，各角色之间进行通信，不能因为业务需求，加大zookeeper负担
        broker1-jvm(controller)     p0主(topicA)     p1从
        broker2-jvm                 p1主(topicA)     p0从



    <h2 class="anchor">...</h2>
    1：22：01

</pre>

</body>
</html>