<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>redis</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <style>

    </style>

    <script src="../00-static/base.js"></script>

</head>
<body>

<pre>

    <h2 class="anchor">好用网站</h2>
    数据库排名: https://db-engines.com/en/

    <h2 class="anchor">常识</h2>
    磁盘 寻址-ms 带宽-G/M

    内存 寻址-ns 带宽-很大
        内存比磁盘快10W倍

    i/o buffer：成本问题
        磁盘与磁道
        扇区,一扇区512byte 成本变大:索引
        4k 操作系统,无论读多少,最少4k从磁盘拿

    数据库：
        data page-4k

    <h2 class="anchor">安装</h2>
    下载 https://redis.io/
        右键复制链接地址 是一个压缩包的资源链接地址
        linux 可以使用 wget程序下载
    安装 通读readme.md,一般安装方法都在这里
        解压缩: tar xf file
        安装编译器	yum install gcc 如果安装过跳过
        编译: 执行命令 make    -- makefile 文件
            make distclean 清除错误的编译文件 再重新make
        启动: cd src 目录 → 执行 ./redis-server
        安装: make install PREFIX=/opt/soft/redis6 可执行文件
            实际执行 src/Makfile 文件进行安装
        做成服务:
            安装路径添加到path: /opt/soft/redis6/bin
            cd utils → 执行 ./install_server.sh  --重复此步骤可安装多个服务 并多启
            根据提示输入配置信息或直接回车选择默认值
            会在/etc/init.d文件夹生成 redis_号码(端口号) 启动脚本
                /etc/redis/9001.conf
                /var/log/redis_9001.log
                /var/lib/redis/9001
                /opt/soft/redis6/bin/redis-server
                /opt/soft/redis6/bin/redis-cli
        错误: This systems seems to use systemd.  ./install_server.sh中注释以下代码
            #bail if this system is managed by systemd
            #_pid_1_exe="$(readlink -f /proc/1/exe)"
            #if [ "${_pid_1_exe##*/}" = systemd ]
            #then
            #       echo "This systems seems to use systemd."
            #       echo "Please take a look at the provided example service unit files in this directory, and adapt and install them. Sorry!"
            #       exit 1
            #fi
        启动服务: service redis_号码 start/stop/status
    开放端口 见linux 防火墙
        问题1:开放端口后外机仍无法访问
            原因: lsof -i: 可查看到name 为localhos:redis,为只允许本机访问
            解决: vi /etc/redis/0000.conf 中找到bind，改为 0.0.0.0，则lsof中name由localhost:redis→*:redis
    <h2 class="anchor">系统I/O</h2>
    bio
    nio
    aio --windows

    1:单进程 单线程 单实例 epoll
    epol:
    select
    epoll

    <h2 class="anchor">原理</h2>
    使用epoll 等


    <h2 class="anchor">redis基本</h2>
     0 正负索引
    1 连接
        redis-cli --客户端连接，只识别ascll码，超出显示hex
            --raw --从当前字符集中进行格式化，获得对应字
        select 7 --选择7号库进行操作
    2 通用
        object encoding k --查看类型
        keys k* --查询key为k*的值 *-通配符
        help @type --查看值类型的api文档
        help method --查看方法的api文档
        flushdb --清空

    <h2 class="anchor">redis的value类型</h2>
    1 String byte
        字符串
            set k v --新加或修改
                set k v nx --新加
                set k v xx --修改
            append --追加
            getrange --截取
        数值
            incr --自增
        二进制
            setbit --offset 为二进制偏移量
            bitpos
            bitcount
            bitop
    2 list --l开头
        栈 队列
            左 lpop lpush 右 rpop rpush
        数组
            lrange --查看元素
            lindex --通过下标取
            lset --通过下标设置值
        lrem --移除
        linsert --插入
        b开头 --阻塞 单播队列 fifo
            blpop brpop ...
        ltrim --删除两端
    3 hash --h开头 类似HashMap
        hset/hget --单个操作
        hmset/hmget --多个操作
        hkeys/hvals/hgetall
        hincrbyfloat --增加浮点型
    4 set --无序 去重
        smembers --消耗网卡I/O,必须要用则独立服务器
        sadd/srem k v v2 v3 ... --添加/移除 自动去重
        sinter/sunion k1 k2 ... --交集/并集
        sinterstore/sunionstore dest k1 k2 ... --交集/并集 存到dest
        sdiff k1 k2 ... --差集 k1去掉k2的值
        srandmember k 5 --随机
            正数 随机取几个,不超过set中现有的数量
            负数 取带重复的,满足需要的数量
        spop --弹出一个
    5 sorted_set --z开头,s被占用了,所以使用z 元素排序
        物理内存左小右大,不随命令变化
        zrev*** --倒叙
        z*** --正序
        zadd --添加 分值 会按照分值排序
        zrange k 0 -1 withscores --取出所有
        zrangebyscore --取出按照分值所有
        zscore --取分值 多少分
        zrank --取排名 第几
        zincrby --增加分值 并重排序
        zunionstore --交集 涉及到分值的处理
            ZUNIONSTORE destination numkeys key [key ...] [WEIGHTS weight] [AGGREGATE SUM|MIN|MAX]
            例 zunionstore destk 2 k1 k2 weights 1 0.8
                zunionstore destk 2 k1 k2 AGGREGATE max
            numkeys --[keys ...]中有几个key
            weights --权重 分数乘以权重再进行操作
        排序是如何实现的
            skip list --跳表-分层链表,类平衡树(?)
                插入的时候 随机造层(?)


    <h2 class="anchor">管道</h2>
    nc ip port --连接socket
        yum install nc
    echo -e "set k2 99 \n incr k2 2 \n get k2" | nc 127.0.0.1 6379
        让通信成本变低
        -e 识别换行符

    <h2 class="anchor">发布订阅</h2>
    help @pubsub

    适用场景:
        实时聊天 -发布订阅
        三天聊天记录 -sorted_set
        历史记录 -关系库

    <h2 class="anchor">事务</h2>
    说明,若多个客户端同时开启事务,哪个客户端的exec指令先到达,则谁先执行
    mutli --开启事务
    exec --提交
    watch --监控k,在开启事务之前

    <h2 class="anchor">扩展模块</h2>
    https://redis.io/ 顶部有个modules 扩展块
    redis bloom 过滤器
        加载扩展模块
            点小房子 下载源码
            执行make命令-Makefile → .so文件(linux扩展库)
            .so拷贝到redis6目录下,与bin并列
            手动启动 加载扩展库
                redis-server --loadmodule /opt/soft/redis6/xxx.so /etc/redis/6379.conf
        使用 缓存穿透 小空间解决大量数据匹配
            bf.add k v1 v2 ...
            bf.exist k v2
            cf.add

    counting bloom 过滤器
    cukcoo 过滤器


    <h2 class="anchor">...</h2>

</pre>

</body>
</html>