<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form method="post" action="/systemFile/import" enctype="multipart/form-data">
    EXCEL导入:<input type="file" name="file"/>
    <input type="submit"/>
</form>

<form method="post" action="/systemFile/upload" enctype="multipart/form-data">
    文件上传:<input type="file" name="file"/>
    <input type="submit"/>
</form>
<form method="post" action="/systemFile/upLoad" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>

<form method="post" action="/systemFile/upWord" enctype="multipart/form-data">
    <input type="file" name="word"/>
    <input type="submit" value="word"/>word
</form>
<img src="file:///Users/apple/Desktop/0117e2571b8b246ac72538120dd8a4.jpg@1280w_1l_2o_100sh.jpg"/>


</body>
</html>