<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style>
        #mycan{
            /*background-color: #ffcc66;*/
            border: 2px solid red;
        }
    </style>

</head>
<body>

<canvas id="mycan" width="300px" height="300px" onclick="cgSize(300)">
    此处为画布内容，浏览器不支持H5画布！
</canvas>

<input type="button" value="制图" onclick="getImg()" style="margin: 10px 10px;"><img id="myimg"><br/>

<input type="button" value="cgSize" onclick="cgSize(250)">
<input type="button" value="fill" onclick="fill()">
<input type="button" value="画笔" onclick="pencel()">
<input type="button" value="渐变1" onclick="ccgSlow()">
<input type="button" value="渐变2" onclick="ccgSlow2()">
<input type="button" value="图片" onclick="imgDraw()">
<input type="button" value="画线" onclick="lineDraw()">

<br/><img id="imgmodel" src="../../static/img/working.gif">

<script src="../../static/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript">
    var myCan = document.getElementById("mycan");
    var context = myCan.getContext("2d");//2d  3d -- 获得canvas接口

    function lineDraw() {
        context.strokeStyle = "yellowGreen"
        //1
        context

    }
    function imgDraw() {
        var img = document.getElementById("imgmodel");
        var pattern;
        try {
            pattern = context.createPattern(img, "repeat-y");//repeat repeat-x repeat-y no-repeat
        }catch (e) {
            console.log(e);
        }
        context.fillStyle = pattern;
        context.fillRect(0,0,200,200);
    }

    function ccgSlow() {
        var gradient = context.createRadialGradient(10,10,20,300,300,50);//x0 y0 r0 x1 y1 r1
        gradient.addColorStop(0,"blue");
        gradient.addColorStop(0.5,"green");
        context.fillStyle = gradient;
        context.fillRect(0,0,300,300);
    }
    function ccgSlow2() {
        var gradient = context.createLinearGradient(0,0,300,0);
        gradient.addColorStop(0,"greenyellow");
        gradient.addColorStop(0.3,"blue");
        gradient.addColorStop(0.7,"green");
        gradient.addColorStop(1,"pink");
        context.fillStyle = gradient;
        context.fillRect(0,0,300,200);
    }
    function pencel() {
        context.fillStyle = "red";
        context.fillRect(0,0,50,25);
        context.strokeStyle = "blue";
        context.strokeRect(50,50,50,50);
        context.fillStyle = "green";
        context.fillRect(100,100,50,50);
        context.strokeStyle = "black";
        context.strokeRect(150,50,50,50);
    }
    function getImg() {
        var url = myCan.toDataURL("image/jpeg", 0.5);
        document.getElementById("myimg").src = url;
    }
    function cgSize(wid) {
        myCan.setAttribute("width", wid);
    }
    function fill() {
        context.fillRect(10,1,50,50);
        console.log(myCan.getContext("2d"));
        console.log(myCan.getContext("3d"));
    }

</script>
</body>
</html>