<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style>

    </style>

</head>
<body>
<input type="button" id="sendWork" value="sdwk">
<p></p>

<script src="../../static/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript">
    var worker;
    $(function () {

        if (typeof(SharedWorker)) {
            /**
             * 实例化PortMessage对象，
             * 可以通过实例化后的SharedWorker对象的属性进行访问
             * （文件，标识名）
             * 可以被多个页面访问 多个关联页面都关闭才会关闭
             */
            worker = new SharedWorker("../../static/js/h5/worker/sharedworker.js", "mySharedWorker");
            //port 即实例化对象，表示主线程中的消息端口

            // 若要使用此方法监听onmessage事件，就必须在之前调用start()方法
            worker.port.addEventListener("message",getMessage, false);
            worker.port.addEventListener("error",errorMsg, false);
            worker.port.start();//初始化主线程消息端口，

            $("#sendWork").click(sendWork);

            // worker.port.onmessage = function(ev){
            //     $("p").append("<br/>传回的数据:" + ev.data);
            // };
            // console.log(SharedWorker);
            console.log("支持共享线程")
        }else {
            console.log("不支持共享worker")
        }
    });

    function sendWork(ev) {
        console.log("send")
        worker.port.postMessage({
            a:"a",
            b:"b",
            c:"c"
        });
    }
    
    function getMessage(ev) {
        $("p").append("<br/>传回的数据:" + ev.data);

        // if (ev.data > 10) worker.port.close();//终止专用子线程的执行
    }

    function errorMsg(ev) {
        $("p").text("异常信息：" + ev.data);
        $("p").append("<br/>异常行号：" + ev.lineno);
        $("p").append("<br/>异常文件：" + ev.filename);
    }

</script>
</body>
</html>