<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appendix</title>
</head>
<body>

<pre>

    字 16位二进制
    字节 8位二进制
    8086CPU架构 16位=高8位+低8位 例：AX = AH + AL
        地址：15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
        高8位(AH)：15 14 13 12 11 10 9 8
        低8位(AL)：7  6  5  4  3  2  1 0
    寄存器
        通用
            AX
            BX
            CX
            DX
        段寄存器
            CS
            SS
            DS
            ES

                SI
                DI
                SP
                BP
                IP
                ED
                PSW

</pre>

</body>
</html>