<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基础控件</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <script src="../00-static/base.js"></script>

    <style>

    </style>
</head>
<body>

<pre>

    <h2 class="anchor">远程连接</h2>

    <h2 class="anchor">CPU 对存储器的读写</h2>
    地址总线
    数据总线
    控制总线

    <h2 class="anchor">...</h2>

</pre>

</body>
</html>