<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基础控件</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <script src="../00-static/base.js"></script>

    <style>

    </style>
</head>
<body>

<pre>

    <h2 class="anchor">CPU 概述</h2>
    三个部件 靠内部总线相连
    运算器
    逻辑控制器
    寄存器
        8086CPU 16位 可以存放两个字节 有14个寄存器
            AX BX CX DX SI DI SP BP IP CS SS DS ED PSW
            其中AX BX CX DX为通用寄存器
        例如 数据18 在AX中存放形式为
    <img src="source/16bit-data.png">






    <h2 class="anchor">...</h2>

</pre>

</body>
</html>