<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基础控件</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <script src="../00-static/base.js"></script>

    <style>

    </style>
</head>
<body>

<pre>

    <h2 class="anchor">CPU 概述</h2>
    物理地址=段地址*16+偏移地址
    修改CS IP的指令
        jmp 段地址：偏移地址
            jmp 2AE3:3
            jmp 3:0B16 → 0030+0B16=0B46


    仅修改IP
        jmp 某一合法寄存器
            jmp ax
            jmp bx
            例子 200偏移 跳转
                mov ax,200
                jmx ax

    <h2 class="anchor">实验</h2>
    


    <h2 class="anchor">...</h2>

</pre>

</body>
</html>